<% include ../partials/header %>

  <div class="container">
    <form action="/posts/<%=post.id%>?_method=put" method="POST">
      <h1>EDIT ENTRY</h1>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Date</span>
        <input type="date" class="form-control" placeholder="date" aria-describedby="basic-addon1" name="post[date]" value="<%= post.date %>">
      </div>

      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">High</span>
        <textarea type="text" class="form-control" placeholder="high-point" aria-describedby="basic-addon1" name="post[high]"><%= post.high %></textarea>
      </div>

      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Low</span>
        <textarea type="text" class="form-control" placeholder="low point" aria-describedby="basic-addon1" name="post[low]"><%= post.low %></textarea>
      </div>

      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Sleep</span>
        <input type="text" class="form-control" placeholder="hours of sleep last night?" aria-describedby="basic-addon1" name="post[sleep]" value="<%= post.sleep %>">
      </div>

      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Meditate</span>
        <select class="form-control" name="post[meditate]" value="<%= post.meditate %>">
          <option value="yes">Yes</option>
          <option value="no">No</option>
        </select>
      </div>

      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1" value="<%= post.diet %>">Diet</span>
        <select class="form-control" name="post[meditate]">
          <option value="poor">poor</option>
          <option value="ok">ok</option>
          <option value="fair">fair</option>
          <option value="good">good</option>
          <option value="excellent">excellent</option>
        </select>
      </div>
      
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Improvements</span>
        <input type="text" class="form-control" placeholder="improvements" aria-describedby="basic-addon1" name="post[improvements]" value="<%= post.improvements %>">
      </div>

      <input type="submit" value="submit" class="btn btn-lg submitButton">
    </form>
  </div>

<% include ../partials/footer %>