<% include ../partials/header %>
  <!-- <div class="ui two column centered grid">
    <div class="column">
      <h1>Edit <%= post.title  %></h1>


      <form action="/posts/<%= post.id %>?_method=put" method="POST">
        <div class="ui form segment">
          <div class="two fields">
            <div class="field">
              <label for="title">Title:</label>
              <input type="text" id="title" name="post[title]" autofocus="true" value="<%= post.title  %>">
            </div>
            <div class="field">
              <label for="media">Media:</label>
              <input type="text" name="post[media]" id="media" value="<%= post.media  %>">
            </div>
          </div>
            <div class="field">
              <label for="body">Post content:</label>
            <textarea name="post[body]" id="body"><%= post.body %></textarea>
            </div>
          <input class="ui submit purple button" type="submit">
          <a href="/posts" class="ui submit button">Cancel</a>
          </div>
        </div>
      </form>
    </div>
  </div> -->


    <table style="" class="table">
      <div class="container text-center">
        <h1>ENTRY DETAILS</h1>
        <thead class="tdHeader text-center">
          <td>Date</td>
          <td>Sleep</td>
          <td>Meditate</td>
          <td>Diet</td>
        </thead>

          
          
          
        <tr class="text-center">
          <td><%= entry.date %></td>
          <td><%= entry.sleep %></td>
          <td><%= entry.meditate %></td>
          <td><%= entry.diet %></td> 
        </tr>
        <tr>
          <thead>
            <td>High</td>
            <td><%= entry.high %></td>
            
          </thead>
        </tr>
        <tr>
          <td>Low</td>
          <td><%= entry.low %></td>
        </tr>
        <tr>
          <td>Improvements</td>
          <td><%= entry.Improvements %></td>
        </tr>
      </div>
    </table>
    <div class="text-center">
      <a href="/"><button class="btn btn-lg">Home</button></a>
    </div>
<% include ../partials/footer %>