<% include ../partials/header %>
  <div class="container-fluid">
    <table class="table table-hover">
      <thead>
        <td class="col-xs-2"><strong>Date</strong></td>
        <td class="col-xs-9"><strong>Entry</strong></td>
        <td class="col-xs-1"><strong>Score</strong></td>
      </thead>
    <% posts.forEach(function (el) { %>
      <tr>
        <td class="tdstyle"><a href="/posts/<%= el.id%>"><%=el.date%></a></td>
        <td class="tdstyle"><%= el.high.slice(0, 75) %>...</td>
        <td class="tdstyle"><%= el.score %></td>
      <% if(el.score > 80) { %>
        <td class="tdstyle"><i class="fa fa-battery-full text-success"></i></td>
      <% } else if(el.score > 60) { %>
        <td class="tdstyle"><i class="fa fa-battery-three-quarters text-info"></i></td>
      <% } else if(el.score > 40) { %>
        <td class="tdstyle"><i class="fa fa-battery-half text-warning"></i></td>
      <% } else if(el.score > 20) { %>
        <td class="tdstyle"><i class="fa fa-battery-quarter text-danger"></i></td>
      <% } else if(el.score > 0) { %>
        <td class="tdstyle"><i class="fa fa-battery-empty text-danger"></i></td>
      <% } %>
        <td>
          <form action="/posts/<%= el.id%>?_method=delete" method="POST"><button class="btn btn-lg deleteBtn">Delete</button></form>
        </td>
      </tr>
    <% }) %>
    </table>
    <div class="text-right">
      <a href="/posts/new"><button class="btn btn-lg">Add Entry</button></a>
    </div>
  </div>
<% include ../partials/footer %>

