<% include ../partials/header %>

  <div class="container-fluid">
    <div class="row">
      <% if(currentuser){ %>
        <div class="col-xs-8 col-xs-offset-2">
          <h1 class="text-center">Posts</h1>
        </div>
        <div class="col-xs-2">
          <a href="/posts/new" class="btn btn-default">Add a new post</a>
        </div>  
      <% }  %>
    </div>
  </div>
  <table class="table table-hover">
    <thead>
      <td class="col-xs-3"><strong>Date</strong></td>
      <td class="col-xs-8"><strong>High</strong></td>
      <td class="col-xs-1"><strong>Score</strong></td>
    </thead>
  <% posts.forEach(function (el) { %>
    <tr>
      <td><a href="/posts/<%= el.id%>"><%=el.date%></a></td>
      <td><%= el.high.slice(0, 90) %>...</td>
      <td><%= el.score %></td>
      <td>
        <form action="/posts/<%= el.id%>?_method=delete" method="POST"><button class="btn btn-lg">Delete</button></form>
      </td>
    </tr>
  <% }) %>
  </table>

<% include ../partials/footer %>

