<% include ../partials/header %>
  <div class="container-fluid">
    <div class="row">
      <% if(currentuser){ %>
        <div class="col-xs-8 col-xs-offset-2">
          <h1 class="text-center"><%= currentuser.username %></h1>
        </div>
        <div class="col-xs-2">
          <div class="btn btn-default">
            <a href="/posts/new">Add a new post</a>
          </div>
        </div>  
      <% }  %>
    </div>
    <h1>Posts</h1>
  </div>
  <table>
    <thead>
      <td>Date</td>
      <td>Sleep</td>
      <td>Meditate</td>
      <td>Diet</td>
    </thead>
  <% posts.forEach(function (el) { %>
    <tr>
      <td><a href="/posts/<%= el.id%>"><%=el.date%></a></td>
      <td><%= el.sleep %></td>
      <td><%= el.meditate %></td>
      <td><%= el.diet %></td>
      <!-- <td><a href="/posts/<%= el.id%>/edit"><button class="btn btn-lg">Edit</button></a></td> -->
      <td>
        <form action="/posts/<%= el.id%>?_method=delete" method="POST"><button class="btn btn-lg">Delete</button></form>
      </td>
    </tr>
  <% }) %>
  </table>

<% include ../partials/footer %>

