<% include ../partials/header %>

    <div class="container">
      <h1>ENTRY INFO</h1>

      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Date</span>
        <span class="form-control"><%= post.date %></span>
      </div>

      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">High</span>
        <span class="form-control"><%= post.high %></span>
      </div>

      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Low</span>
        <span class="form-control"><%= post.low %></span>
      </div>

      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Sleep</span>
        <span class="form-control"><%= post.sleep %></span>
      </div>

      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Meditate</span>
        <span class="form-control"><%= post.meditate %></span>
      </div>

      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Diet</span>
        <span class="form-control"><%= post.diet %></span>
      </div>

      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Improvements</span>
        <span class="form-control"><%= post.improvements %></span>
      </div>

      <div>
        <a href="/posts/<%= post.id%>/edit"><button class="btn btn-lg">Edit</button></a>
      </div>
    </div>

<% include ../partials/footer %>